/* html {
    height: 100%;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 68, 73);
}


#calculator-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}


#display-container {
    font-size: 64px;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    flex: 0 1 60%;
    min-width:400px;
}


#keyboard-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    flex-direction: column;
}


.key {
    display:flex;
    flex: 0 1 25%;
    font-size: 64px;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 0px;
    padding: 20px 0 20px 0;
    width: 100%;
} */


/* [data-key="clear"] {
    font-size: 46px;
    font-weight: bold;
} */


/* 
.row {
    display: flex;
    width: auto;
} */


* {
    font-family: sans-serif;
}

html {
    height: 100%;
}


body{
    min-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 62, 73);
    margin: 0;
}


#calculator-container{
    display:flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    max-width: 400px;
}


#keyboard-container, #display-container{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}


#display-container{
    display: flex;
    height: 50px;
    border: 1px solid black;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    background: #000;
    color:#fff;
    padding:0 10px;
}


.key{
    display:flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    font-size:2em;
} 

p {
    margin: 0;
}