* {
    font-family: sans-serif;
}

html {
    height: 100%;
}


body{
    min-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 62, 73);
    margin: 0;
}


#calculator-container{
    display:flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    max-width: 400px;
    background-color: black;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgb(19, 20, 31);
    border-radius: 8px;
}


#keyboard-container, #display-container{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}

#keyboard-container {
    border-radius: 0px 0px 8px 8px;
}

[data-key="+/-"] {
    border-radius: 0px 0px 0px 8px;
}

[data-key="%"] {
    border-radius: 0px 0px 8px 0px;
}



#display-container{
    /* display: flex; */
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
    flex-direction: column;
    height: 75px;
    border: 1px solid black;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
    background: #000;
    color:#fff;
    padding:0 10px;
}


.key{
    display:flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    font-size:2em;
} 

p {
    margin: 0;
}

.operation-display {
    font-size: small;
    margin-right: 15px;
}


button {
    background-color: rgb(177, 181, 194);
}

.operand {
    background-color: rgb(209, 216, 236);
}